<form [formGroup]="regForm" class="flex flex-col justify-center items-center h-screen" (ngSubmit)="signUp()">
  <h1 class="text-6xl font-mono text-sky-100 text-center">Register</h1>
    <input placeholder="First Name" class="my-3 input w-full max-w-xs" formControlName="firstName">
    <input placeholder="Email" class="my-3 input w-full max-w-xs" formControlName="email">
    <input placeholder="Password" class="my-3 input w-full max-w-xs" type="password" formControlName="password">
    <button type="submit" class="my-3 btn btn-active btn-accent btn-wide" [disabled]="!regForm.valid">Register</button>
  <p class="my-5">Already have an account? <a routerLink="/login" class="text-sky-500">Log in!</a></p>
</form>
